@import "normalize";
@import "mixins";
@import "fontawesome/font-awesome";

@lightText: #78788c;
@darkText: #3c3c50;
@greyText: #5c5c5c;
@brand: #0083cb;

html {
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
}
html.scrollbarhide {
    overflow-y: hidden;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    background: white;
    color: @darkText;
    font: 13px/1.7em 'Open Sans';
}

input[type="text"],
input[type="password"],
input[type="search"] {
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    height: 32px;
    padding: 0 12px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

div.account {
    padding: 10px;
    line-height: 19px;
    i {
        display: block;
        float: left;
        font-size: 21px;

        margin-left: 9px;
        margin-right: 2px;
    }
    .pull-right {
        float: right;
        margin-top: 1px;
        span, i {
            cursor: pointer;
        }
    }
    #user-name {
        overflow: hidden;
        white-space: nowrap;
        width: calc(~"100% - 140px");
        display: inline-block;
        text-overflow: ellipsis;
    }
    #logout {
        font-size: 11px;
        font-weight: bold;
        float: left;
        &:hover {
            text-decoration: underline;
        }
    }

    #account-form {
        label {
            font-weight: bold;
            display: block;
            margin-bottom: 4px;
        }
        button,
        input[type="text"],
        input[type="password"] {
            width: 100%;
            margin-bottom: 7px;
        }
        button {
            background: @darkText;
            color: white;
            border: none;
            height: 40px;
            display: block;
            margin-top: 5px;
            border-radius: 4px;
            &:hover {
                background: darken(@darkText,4%);
            }
        }
    }
}

// include parts of the panel
@import "menu";
@import "widget";

footer {

    font-size: 12px;

    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    color: @lightText;
    background: url('../img/logo.png') no-repeat center right;

    // border at the top
    border-top: 1px solid #d5d5d5;
    margin-top: -1px;

}